/* ----------- for screens 960px-1200px------------------------*/
* {
	box-sizing: border-box;	
}

@media only screen and (max-width: 1200px) {
	body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
	}


	.main-container {
		display: grid;
		max-width: 89%;
		margin: 0 auto;
		padding: 10px;
		min-height: 600px;
		border: 1px solid black;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(7, minmax(100px auto));
		gap: 10px 10px;
	}

	.box-header,
	.box-1,
	.box-2,
	.box-3,
	.box-content,
	.sidebar,
	.box-footer {
		grid-row: span 3;
		gap: 10px 10px;
		border: 1px solid black;
	}
	.box-header {
		grid-column: 1 / span 12;
	}

	.box-1 {
		grid-column: span 3;
	}

	.box-2 {
		grid-column: 4 / span 6;
	}

	.box-3 {
		grid-column: 10 / span 3;
	}

	.box-content {
		grid-column: 1 / span 8;
	}

	.sidebar {
		grid-column: 9 / span 4;
	}

	.box-footer {
		grid-column: 1 / span 12;
		display: grid;
		border: 1px solid black;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px 10px;
		padding: 10px;
	}

	.subfooter1,
	.subfooter2 {
		border: 1px solid black;
		grid-row: span 3;
	}
	.subfooter3,
	.subfooter4 {
		border: 1px solid black;
		grid-row: span 3;
	}
}
